@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@source not "./tailwindcss";
@source not "./daisyui{,*}.mjs";
@source "./src/**/*.rs";

@plugin "@tailwindcss/typography";
@plugin "./daisyui.mjs" {
    themes:
        cupcake --default,
        dracula --prefersdark,
        nord,
        cupcake,
        dracula;
}
/* Optional for custom themes – Docs: https://daisyui.com/docs/themes/#how-to-add-a-new-custom-theme */

@theme inline {
    /*--font-mono: "Noto Sans", mono;*/
    --font-sans: "Noto Sans", sans-serif;
    --animate-zoomfade: zoomfade 0.75s ease-out forwards;

    @keyframes zoomfade {
        0% {
            opacity: 0;
            scale: 0.5;
        }
        15% {
            opacity: 1;
            scale: 1;
        }
        85% {
            opacity: 1;
            scale: 1;
        }
        100% {
            opacity: 0;
            scale: 0.5;
        }
    }
}

@variant fullscreen (&:fullscreen);
@variant group-fullscreen (.group:fullscreen &);
@variant mobile (@media (hover: none) and (pointer: coarse));

@utility drop-shadow-ico {
    @apply drop-shadow-[0px_0px_4px_rgba(0,0,0,0.75)];
}

@utility controls-shadow {
    @apply shadow-[0px_0px_100px_rgba(0,0,0,0.75)];
}

@utility drag-none {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-select: none;
}

@utility compact-volume {
    @apply w-24 p-3 left-0 origin-top-left -rotate-90 bg-black outline-solid outline-1 outline-neutral-700 drop-shadow-xl/50 invisible;
}

@utility base-volume {
    @apply w-20 p-1 left-10 rotate-0 bg-black/0 outline-none drop-shadow-none visible;
}

@utility btn-player {
    @apply btn
        btn-ghost
        text-neutral-300
        hover:bg-white/0
        hover:outline-none
        hover:brightness-130
        active:brightness-130
        active:bg-white/0
        border-none
        outline-none
        cursor-pointer
        shadow-none
        drop-shadow-ico
        transition-colors
        duration-200;
}

@utility separator {
    @apply h-0.5 w-full bg-white/5 my-2;
}

@utility overlay-gradient {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.6) 0%,
        transparent 10%,
        transparent 90%,
        rgba(0, 0, 0, 0.6) 100%
    );
}

@variant overlay {
    .group:fullscreen &,
    &.overlay {
        @slot;
    }
}

@layer components {
    input[type="range"] {
        @apply appearance-none
            disabled:cursor-not-allowed
            disabled:opacity-50
            outline-none
            w-full;

        --slider-value: 0;
        --track-height: var(--spacing);
        --thumb-height: calc(var(--spacing) * 3);
        --thumb-color: currentColor;
        --track-color: color-mix(in oklab, currentColor 20%, #0000);

        &::-webkit-slider-thumb {
            @apply -mt-[calc(var(--thumb-height)/2-var(--track-height)/2)]
                appearance-none
                bg-(--thumb-color)
                border-none
                rounded-full
                shadow-sm
                size-(--thumb-height);
        }
        &::-webkit-slider-runnable-track {
            @apply appearance-none
                h-(--track-height)
                rounded-full
                mb-[calc(var(--spacing)+1px)]
                mt-[calc(var(--spacing))]
                w-full;

            background: linear-gradient(
                to right,
                var(--thumb-color) var(--slider-value),
                var(--track-color) var(--slider-value)
            );
        }
        &::-moz-range-thumb {
            @apply appearance-none
                bg-(--thumb-color)
                border-none
                rounded-full
                shadow-sm
                size-(--thumb-height);
        }

        &::-moz-range-track {
            @apply appearance-none
                h-(--track-height)
                border-none
                outline-none
                rounded-full
                w-full;
            background: linear-gradient(
                to right,
                var(--thumb-color) var(--slider-value),
                var(--track-color) var(--slider-value)
            );
        }

        &::-ms-thumb {
            @apply appearance-none
                bg-(--thumb-color)
                border-none
                rounded-full
                shadow-sm
                size-(--thumb-height);
        }
        &::-ms-track {
            @apply appearance-none
                h-(--track-height)
                rounded-full
                w-full;
        }
        &::-ms-fill-lower {
            @apply bg-(--thumb-color) rounded-full;
        }
        &::-ms-fill-upper {
            @apply bg-(--track-color) rounded-full;
        }
    }
}

@layer components {
    .expand-clickable-area {
        @apply relative;
    }
    .expand-clickable-area::after {
        content: "";
        @apply absolute top-[-6px] left-[-6px] right-[-6px] bottom-[-6px];
    }
}
